*{
    margin: 0;
    padding: 0;
}

.investClass{
    width: 80vw;
    z-index: 9;
}

#divider{
margin-left: 2rem;
margin-top: -2%;
border-top: 3px solid #AAC6CE;
width: 76%;
}

#divider2{
    margin-left: 2rem;
    margin-top: 1rem;
    border-top: 3px solid #AAC6CE;
    width: 76%;
    }

.header{
    margin-bottom: 4rem;
}

.invest-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.routesBody{
    display: block;
    /* max-height: 90vh; */
}


@media screen and (max-width:414px){

#divider{
    margin-left: 0;
    width: 100%;
    }
        
#divider2{
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
    }

.investClass{
    width: 100vw;
}

.invest-nav{
 display: flex;
 flex-wrap: wrap;
}


}

@media screen and (max-width:384px){

}

@media screen and (max-width:360px){
    .investClass{
        width: 100vw;
    }

    #divider{
        margin-left: 0rem;
        width: 100%;
        }
        
    #divider2{
        margin-left: 0rem;
        width: 100%;
        }

}